<div class="header">
    <div class="ui-g-12 ui-md-6 ui-lg-8">
        <p-card>
            <img id="charPict" src="../../assets/images/long/{{this.character.imageLong}}">
        </p-card>
        <!--
        <div class="cover">
            <img id="charPict" src="../../assets/images/long/{{this.character.imageLong}}">
        </div>
        -->
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-4">
        <p-card header="Information">
            <p><span class="bold">Nom : </span> {{this.character.name}}</p>
            <p><span class="bold">Taille : </span> {{this.character.height}} cm </p>
            <p><span class="bold">Licence : </span> <img id="licencePict"
                    src="../../assets/images/licence/{{this.character.imageLicence}}"></p>
        </p-card>
    </div>
    <!--
        <div class="info">
            <h3>{{this.character.name}}</h3>
            <p>Taille: {{this.character.height}}cm </p>
            <img id="licencePict" src="../../assets/images/licence/{{this.character.imageLicence}}">
        </div>
        -->
</div>