.header{
    border-color:#2E4053;
    color:#2E4053;
    
    font-family: "roboto";
    
    width: 100%;
    height: 5%;
}

.header .cover {
    width:60%;
    height:30%;
    display: inline-block;
}


.header #charPict{
    width:90%;
    height:100%;
    border-radius:7%;
}

.header .info {
    width:40%;
    height:30%;
    font-size : 80%;
    font-family: roboto;
    text-align:center;
    vertical-align: top;
    display: inline-block;
}

.header .info h3{
    margin-top: 0%;
    margin-bottom: 1%;
    font-size : 4vw;
    text-align : center
}

.header .info p{
    margin-top: 3%;
    margin-bottom: 7%;
    font-size :1vw;
    text-align : center
}

.header #licencePict{
    width: 40%;
}
