<div class="ui-fluid">
    <div class="ui-g-12">
        <p-panel header="Selection" [toggleable]="true">
            <div class="ui-g-6 ui-md-6 ui-lg-6">
                <p-dropdown [options]="characters" [(ngModel)]="selectedCharacter1" (onChange)="onChange1($event)"
                    placeholder="Select a character 1" optionLabel="name"></p-dropdown>
            </div>
            <div class="ui-g-6 ui-md-6 ui-lg-6">
                <p-dropdown [options]="characters" [(ngModel)]="selectedCharacter2" (onChange)="onChange2($event)"
                    placeholder="Select a character 2" optionLabel="name"></p-dropdown>
            </div>
        </p-panel>
    </div>
    <div class="ui-g-12">
        <p-panel header="Radar Chart">
            <p-chart type="radar" [data]="data"></p-chart>
        </p-panel>
    </div>
</div>