/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: roboto;
    src: url(assets/fonts/Roboto-Regular.ttf) format("opentype");
}

html{
    background-color: #D9E0E7;
}

.ui-panel-content{
    min-height: 70px;
}


.ui-panel-titlebar{
    background-color:#af0606 !important;
    /*background-color: #29aa09 !important;*/
    color : white !important;
}

.ui-state-highlight{
    background-color: #00acac !important;
}